* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(42, 42, 42);
}

section {
    display: flex;
    margin-top: 15px;
    gap: 50px;
}

.Cardápio {
    font-size: 40px;
    color: #ffffff;
    font-family: "SN Pro", sans-serif;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #FF6600;
    border: 2px solid;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #FFCC00;
}

button:active {
    background-color: #fff0b3;
}

.degrade {
    width: 100%;
    height: 17px;
    background: linear-gradient(to bottom, rgb(42, 42, 42), #000000);
}

ul {
    width: 100%;
    justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 70px;
    margin-top: 35px;
}

li {
    padding: 8px;
    border-radius: 5px;
    border: 3px solid #FF6600;
}

img {
    width: 100%;
    border-radius: 5px;
}

.informações {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
}

.nome{
    color: #ffffff;
    font-size: 20px;
}

.preço{
    color: #FF6600;
}