* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

/* 1536px */

@media (min-width: 1100px) {

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(42, 42, 42);
    }

    section {
        display: flex;
        margin-top: 15px;
        gap: 50px;
    }

    .Cardápio {
        font-size: 40px;
        color: #ffffff;
        font-family: "SN Pro", sans-serif;
    }

    button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF6600;
        border: 2px solid;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #FFCC00;
    }

    button:active {
        background-color: #fff0b3;
    }

    .degrade {
        width: 100%;
        height: 17px;
        background: linear-gradient(to bottom, rgb(42, 42, 42), #000000);
    }

    ul {
        width: 100%;
        justify-content: center;
        list-style: none;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        gap: 70px;
        margin-top: 35px;
    }

    li {
        padding: 8px;
        border-radius: 5px;
        border: 3px solid #FF6600;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    .informações {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
    }

    .nome {
        color: #ffffff;
        font-size: 20px;
    }

    .preco {
        color: #FF6600;
    }

}











@media (max-width: 1100px) {

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(42, 42, 42);
    }

    section {
        display: flex;
        margin-top: 15px;
        gap: 50px;
    }

    .Cardápio {
        font-size: 40px;
        color: #ffffff;
        font-family: "SN Pro", sans-serif;
    }

    button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF6600;
        border: 2px solid;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #FFCC00;
    }

    button:active {
        background-color: #fff0b3;
    }

    .degrade {
        width: 100%;
        height: 17px;
        background: linear-gradient(to bottom, rgb(42, 42, 42), #000000);
    }

    ul {
        width: 100%;
        justify-content: center;
        list-style: none;
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        gap: 70px;
        margin-top: 35px;
    }

    li {
        padding: 8px;
        border-radius: 5px;
        border: 3px solid #FF6600;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    .informações {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
    }

    .nome {
        color: #ffffff;
        font-size: 20px;
    }

    .preco {
        color: #FF6600;
    }

}








@media (max-width: 900px) {

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(42, 42, 42);
    }

    section {
        display: flex;
        margin-top: 15px;
        gap: 50px;
    }

    .Cardápio {
        font-size: 40px;
        color: #ffffff;
        font-family: "SN Pro", sans-serif;
    }

    button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF6600;
        border: 2px solid;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #FFCC00;
    }

    button:active {
        background-color: #fff0b3;
    }

    .degrade {
        width: 100%;
        height: 17px;
        background: linear-gradient(to bottom, rgb(42, 42, 42), #000000);
    }

    ul {
        width: 100%;
        justify-content: center;
        list-style: none;
        display: grid;
        grid-template-columns: 150px 150px 150px;
        gap: 70px;
        margin-top: 35px;
    }

    li {
        padding: 8px;
        border-radius: 5px;
        border: 3px solid #FF6600;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    .informações {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
    }

    .nome {
        color: #ffffff;
        font-size: 18px;
    }

    .preco {
        color: #FF6600;
        font-size: 16px;
    }

}







@media (max-width: 650px) {

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(42, 42, 42);
    }

    section {
        display: flex;
        margin-top: 15px;
        gap: 35px;
    }

    .Cardápio {
        font-size: 40px;
        color: #ffffff;
        font-family: "SN Pro", sans-serif;
    }

    button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF6600;
        border: 2px solid;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #FFCC00;
    }

    button:active {
        background-color: #fff0b3;
    }

    .degrade {
        width: 100%;
        height: 17px;
        background: linear-gradient(to bottom, rgb(42, 42, 42), #000000);
    }

    ul {
        width: 100%;
        justify-content: center;
        list-style: none;
        display: grid;
        grid-template-columns: 150px 150px;
        gap: 70px;
        margin-top: 35px;
    }

    li {
        padding: 8px;
        border-radius: 5px;
        border: 3px solid #FF6600;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    .informações {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
    }

    .nome {
        color: #ffffff;
        font-size: 18px;
    }

    .preco {
        color: #FF6600;
        font-size: 16px;
    }

}












@media (max-width: 500px) {

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(42, 42, 42);
    }

    section {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
        gap: 6px;
    }

    section::after {
        
    }

    .Cardápio {
        font-size: 40px;
        color: #ffffff;
        font-family: "SN Pro", sans-serif;
        margin-bottom: 20px;
    }

    button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF6600;
        border: 2px solid;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #FFCC00;
    }

    button:active {
        background-color: #fff0b3;
    }

    .degrade {
        width: 100%;
        height: 17px;
        background: linear-gradient(to bottom, rgb(42, 42, 42), #000000);
    }

    ul {
        width: 100%;
        justify-content: center;
        list-style: none;
        display: grid;
        grid-template-columns: 100px 100px;
        gap: 50px;
        margin-top: 35px;
    }

    li {
        padding: 8px;
        border-radius: 5px;
        border: 3px solid #FF6600;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    .informações {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
    }

    .nome {
        color: #ffffff;
        font-size: 18px;
    }

    .preco {
        color: #FF6600;
        font-size: 16px;
    }

}







@media (max-width: 350px) {

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(42, 42, 42);
    }

    section {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
        gap: 6px;
    }

    section::after {
        
    }

    .Cardápio {
        font-size: 40px;
        color: #ffffff;
        font-family: "SN Pro", sans-serif;
        margin-bottom: 20px;
    }

    button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF6600;
        border: 2px solid;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #FFCC00;
    }

    button:active {
        background-color: #fff0b3;
    }

    .degrade {
        width: 100%;
        height: 17px;
        background: linear-gradient(to bottom, rgb(42, 42, 42), #000000);
    }

    ul {
        width: 100%;
        justify-content: center;
        list-style: none;
        display: grid;
        grid-template-columns: 100px 100px;
        gap: 30px;
        margin-top: 35px;
    }

    li {
        padding: 8px;
        border-radius: 5px;
        border: 2px solid #FF6600;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    .informações {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
    }

    .nome {
        color: #ffffff;
        font-size: 16px;
    }

    .preco {
        color: #FF6600;
        font-size: 14px;
    }

}